<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refugio de Animales</title>
    <link rel="stylesheet" href="../static/estilo2.css">
    <header>
        <nav class="menu">
            <ol>
                <ol><a href="/">Inicio</a></ol>
                <ol><a href="/adopta">Adopta</a></ol>
                <ol><a href="/dona">Dona</a></ol>
                <ol><a href="/contacto">Contacto</a></ol>
            </ol>
        </nav>
    </header>
    <h1>Huellitas de Amor.</h1>
    <h3>Deja tu huella🐾</h3>
</head>
<body>
    <section>
        <p>En Huellitas creemos que cada vida importa. Nuestro refugio nació del deseo de ofrecer una segunda oportunidad a los animales que han sufrido el abandono, el maltrato o la indiferencia en las calles. Cada rescate es una historia de esperanza, donde una mirada triste vuelve a brillar con amor y confianza.
        </p>
            <img src="../static/imagenes/mmm4.jpg" alt="Perro rescatado en Huellitas" width="70%">
        <p>A diario recorremos barrios y zonas rurales en busca de animales que necesitan ayuda. Muchos llegan a nosotros desnutridos, heridos o temerosos, pero en Huellitas reciben atención médica, alimento, y sobre todo, cariño. Con paciencia y cuidados, poco a poco vuelven a mover la cola y a confiar en los humanos.
        </p>
        <img src="../static/imagenes/mmm2.jpg" alt="Gato recuperado en Huellitas" width="70%">

        <p>
            Además, en nuestro refugio realizamos entrenamientos básicos que preparan a los animales para ser adoptados. Aprenden a caminar con correa, convivir con otros animales y responder a órdenes sencillas. Esto les da más oportunidades de encontrar una familia amorosa que los cuide para siempre.
        </p>
        <img src="../static/imagenes/mmm3.jpg" alt="Perros entrenando en Huellitas" width="70%">

        <p>
            Adoptar en <strong>Huellitas</strong> significa abrir el corazón a una nueva historia. Cada huellita que deja un animal adoptado en su nuevo hogar es una muestra de que el amor y la compasión pueden cambiar vidas. Juntos, seguimos dejando huellas de esperanza.
        </p>
    </section>
</body>
</html>