<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refugio de Animales</title>
    <link rel="stylesheet" href="../static/estilo2.css">
    <header>
        <nav class="menu">
            <ol>
                <ol><a href="/">Inicio</a></ol>
                <ol><a href="/adopta">Adopta</a></ol>
                <ol><a href="/dona">Dona</a></ol>
                <ol><a href="/contacto">Contacto</a></ol>
            </ol>
        </nav>
    </header>
    <h1>Huellitas de Amor.</h1>
    <h3>Deja tu huella🐾</h3>
</head>
<body>
    <section>
        <section id="contacto">
        <h3>Contáctanos</h3>
        <p>
            Si deseas adoptar, donar o ser voluntario, escríbenos a <strong>contacto@huellitas.org</strong>  
            o visítanos en nuestro refugio. ¡Tu ayuda puede cambiar una vida! 🐶💛
        </p>
    </section>
</body>
<footer>
    <p><a href="/acerca">Acerca de Huellitas🐾</a></p>
</footer>
</html>