<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refugio de Animales</title>
    <link rel="stylesheet" href="../static/estilo2.css">
    <title>Refugio Huellitas de Amor.</title>
    <header>
        <nav class="menu">
            <ol>
                <ol><a href="/">Inicio</a></ol>
                <ol><a href="/adopta">Adopta</a></ol>
                <ol><a href="/dona">Dona</a></ol>
                <ol><a href="/contacto">Contacto</a></ol>
            </ol>
        </nav>
    </header>
    <p></p>
    <h1>Huellitas de amor</h1>
    <h3>Deja tu huella🐾</h3>
</head>
<body>
    <section>
        <p>Bienvenidos a Huellitas🐾.
        Somos un refugio dedicado a rescatar y cuidar animales en situación de calle.
        Nuestra misión es encontrarles hogares amorosos donde puedan vivir felices.
        Únete a nosotros en esta noble causa y ayuda a cambiar vidas, una huella a la vez.
        <p></p>
        <p><div class="centrado"><img src="../static/imagenes/mmm1.jpg" alt="collage" width=100%></p>
        <p></p>
        <p>Cada día, cientos de animales enfrentan la dura realidad de vivir en la calle: hambre, frío, soledad y peligro. En Huellitas de Amor, abrimos nuestras puertas a aquellos que no tienen voz, brindándoles un lugar seguro donde puedan sanar y volver a confiar.</p>
        <p></p>
        <p>Aquí, los perros y gatos rescatados reciben atención médica, alimento, cariño y un entrenamiento básico que les ayuda a adaptarse nuevamente a una familia. Aprenden a caminar con correa, convivir con personas y otros animales, y recuperar la alegría que alguna vez perdieron.</p>
        <p></p>
        <p>Nuestro propósito es darles una segunda oportunidad. Cada adopción es una historia de amor que comienza con una huella.</p>
    </section>
</body>
<footer>
    <ol><a href="/acerca">Acerca de Huellitas🐾</a></ol>
</footer>
</html>