<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer Formulario</title>
    <h1>Primer Folmulario</h1><h3>Diviértete respondiendo</h3>
    <link rel="stylesheet" href="../static/estilo1.css">
</head>
<body>
    <form action="5" cellpadding="10">
    <p></p>
    <h3>Formulario de Registro</h3>
    <p>Ingresa Nombres:
        <input type="text" name="nombres">
    </p>
    <p>Ingresa Apellidos:
        <input type="text" name="apellidos">
    </p>
    <p>¿Deseas ingresar un mensaje? Escribelo aquí:
        <textarea type="text" name="mensaje"></textarea>
    </p>
    <p>Fecha de Nacimiento:
        <input type="date" name="fecha_nacimiento">
    </p>
    <p>Tipo de Documento:
        <select name="tipo_documento">
            <option "T.I"></option>
            <option "C.C"></option>
            <option "P.P"></option>
            <option "C.E"></option>
        </select>
        <p>Digita tu número de identificación:
            <input type="number" name="documento">
        </p>
    </p>
    <p>Adjunta el documento:
        <input type="file" name="foto">
    </p>
    <p>
        <input type="submit" value="Enviar">
    </p>
    </form>
    <p>

    </p>
    <h2>Mi primera tabla</h2>
    <p>
        <table border="2" cellispacing="10" cellpadding="20"  bgcolor="beige">
        <th>Columna 1</th>
        <th>Columna 2</th>
        <th>Columna 3</th>
        <tr>
            <td rowspan="2">hola 1</td>
            <th>hola 0.1</th>
            <th>hola 1.1</th>
        </td>
        </tr>
        <tr>
            <th>hola 0.2</th>
            <th>hola 1.2</th>
        </tr>
        </table>
    </p>
</body>
</html>
