<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Refugio de Animales</title>
    <link rel="stylesheet" href="../static/estilo2.css">
    <header>
        <nav class="menu">
            <ol>
                <ol><a href="/">Inicio</a></ol>
                <ol><a href="/adopta">Adopta</a></ol>
                <ol><a href="/dona">Dona</a></ol>
                <ol><a href="/contacto">Contacto</a></ol>
            </ol>
        </nav>
    </header>
    <h1>Huellitas de Amor.</h1>
    <h3>Deja tu huella🐾</h3>
</head>
<body>
    <section>
        <p>
            En <strong>Huellitas</strong> trabajamos día a día para brindar refugio, alimento y atención médica a decenas de animales que han sido rescatados de las calles. Cada donación, por pequeña que sea, nos ayuda a continuar con esta labor llena de amor y esperanza.
        </p>

        <div class="centrado"><img src="../static/imagenes/mmmm.jpg" alt="Donación de alimento para animales" width="50%">

        <p>
            Tus aportes se destinan principalmente a la compra de comida, vacunas, tratamientos médicos y materiales para mantener limpios y seguros los espacios donde nuestros peludos se recuperan. También nos permiten seguir realizando campañas de rescate y jornadas de adopción en diferentes comunidades.
        </p>
        <div class="Centrado">
        <img src="../static/imagenes/mmm5.jpg" alt="Voluntarios ayudando en el refugio" width="50%">

        <p>
            Existen muchas formas de ayudar: puedes hacer una <strong>donación económica</strong>, traer <strong>alimento o medicinas</strong>, o incluso ofrecer tu <strong>tiempo como voluntario</strong>. Cada gesto cuenta y hace una gran diferencia en la vida de quienes más lo necesitan.
        </p>
        <div class="Centrado">
        <img src="../static/imagenes/4f10aa6d-31f7-4021-83e7-5a758d1af0bc.jpg" alt="Animales rescatados en Huellitas" width="50%">
        <p>
            Si deseas donar, comunícate con nosotros al correo <strong>donaciones@huellitas.org</strong> o acércate al refugio. 
    </section>
    </section>
</body>
<footer>
    <p><a href="Acerca.html">Acerca de Huellitas🐾</a></p>
</footer>
</html>