body {
  font-family: 'Arial', sans-serif;
  background-color: #fffaf5;
  background-image:url("/static/imagenes/descarga.png");
  margin: 0;
  padding: 0;
  text-align: center;
}
.header{
  position:fixed;
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.menu a{
  gap:5x;
  display:flex;
  text-decoration: none;
  color: #000000;
  font-size:15px;
}
.menu ol{
  display:flex;
  margin:0 auto;
  font-size:20px;
  padding:10px;
  height:20px;
  background-color: #d6dadd;
  margin-bottom:10px 20px;
  border-radius:10px 20px;
  align-items:center;
}

/* Sección principal */
.contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  gap: 30px;
}

.texto {
  width: 45%;
  text-align: left;
  line-height: 1.6;
}

.imagenes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 30%;
}

.imagenes img {
  width: 50;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

/* Pie de página */
footer {
  background-color: #d6dadd;
  padding: 15px;
  font-size: 0.9em;
  margin-bottom:20px 10px;
  border-radius:30px 20px;
}
footer a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}
























