<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias|EcoNews</title>
    <link rel="stylesheet" href="../static/noticias.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    <header>
            <div class="mens"><p>Palmira EcoNews</p>
            </div>
            <div class="menu">
                <div class="logo">
                    <img src="../static/imagenes/e1.jpg" alt="Logo">
                    <div class="logo-text">
                    <div class="logo-title">
                    <span class="verde">Eco</span>
                    <span class="azul">News</span>
                    </div>
                    <div class="logo-subtitle">
                    Cultural y Ambiental, participemos por un mundo mejor 🌱.
                    </div>
                    </div>
                </div>
                    <p><a href="/">INICIO</a></p>
                    <p><a href="/noticias">NOTICIAS</a></p>
                    <p><a href="/contacto">CONTACTOS</a></p>
                    <p><a href="/formulario">INSCRIBETE</a></p>
            </div>
            </nav>
        <h3>Explora noticias sobre campañas ambientales y culturales 🌱.</h3>
        <nav class="tarjetas">
    <div class="card" style="width: 18rem;">
        <img src="../static/imagenes/e6.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Primer Noticia</h5>
        <p class="card-text">Estudiantes del Colegio San Vicente participaron en una jornada ecológica sembrando más de 100 árboles nativos en el parque La Carbonera. La actividad busca recuperar zonas verdes y fomentar el cuidado ambiental.  </p>
        <a href="#" class="btn btn-primary">Leer más...</a>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../static/imagenes/e7.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Segunda Noticia</h5>
        <p class="card-text">La campaña “Palmira Limpia” movilizó a jóvenes de cinco instituciones educativas para recolectar residuos en calles y ríos. Se logró reunir más de 500 kg de basura reciclable. </p>
        <a href="#" class="btn btn-primary">Leer más...</a>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../static/imagenes/e8.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Tercer Noticia</h5>
        <p class="card-text">La Feria Cultural “Raíces de Palmira” reunió música, danza y arte en el Colegio Santa María. Los estudiantes presentaron obras sobre biodiversidad y tradiciones locales.</p>
        <a href="#" class="btn btn-primary">Leer más...</a>
    </div>
</div>
</nav>
<nav class="espa">
    <p></p>
</nav>
<footer>
    <p>© 2025 eco.news | Noticias para un futuro sostenible</p>
  </footer>
</body>
</html>