body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 40px;
    justify-content: center;
    align-items: center;
}
.header{
  position:fixed;
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.menu a{
  gap:5x;
  display:flex;
  text-decoration: none;
  color: #000000;
  font-size:15px;
}
.menu ol{
  display:flex;
  margin:0 auto;
  font-size:20px;
  padding:10px;
  height:20px;
  background-color: #d6dadd;
  margin-bottom:10px 10px;
  border-radius: 10px;
  align-items:center;
}
