body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 40px;
    justify-content: center;
    align-items: center;
}
.header{
  position:fixed;
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.menu a{
  gap:5x;
  display:flex;
  text-decoration: none;
  color: #000000;
  font-size:15px;
}
.menu ol{
  display:flex;
  margin:0 auto;
  font-size:20px;
  padding:10px;
  height:20px;
  background-color: #d6dadd;
  margin-bottom:10px 10px;
  border-radius: 10px;
  align-items:center;
}

.card {
    margin:20px auto;
    background: white;
    padding: 25px 45px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    max-width: 350px;
}

h1 {
    text-align: center;
    color: #333;
}

p, li {
    color: #444;
    font-size: 16px;
}

ul {
    margin-top: 8px;
}
