h1 {
font-size: 48px;
font-family: "Arial", sans-serif;
font-style: italic;
text-align: center;
padding: 20px;
border-radius: 8px;
color: white
}
body {
box-sizing: border-box;
font-family: "Lucida Sans";
font-size: 21px;
background-image: url("lt.jpeg");
background-size: cover;
background-position: center;
background-repeat: no repeat;

} 
