<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Contacto|EcoNews</title>
  <link rel="stylesheet" href="../static/contacto.css">
</head>
<body>
        <div class="mens"><p>Palmira EcoNews</p>
            </div>
            <div class="menu">
                <div class="logo">
                    <img src="../static/imagenes/e1.jpg" alt="Logo">
                    <div class="logo-text">
                    <div class="logo-title">
                    <span class="verde">Eco</span>
                    <span class="azul">News</span>
                    </div>
                    <div class="logo-subtitle">
                    Cultural y Ambiental, participemos por un mundo mejor 🌱.
                    </div>
                    </div>
                </div>
                    <p><a href="/">INICIO</a></p>
                    <p><a href="/noticias">NOTICIAS</a></p>
                    <p><a href="/contacto">CONTACTOS</a></p>
                    <p><a href="/formulario">INSCRIBETE</a></p>
                    
            </div>
        </header>

  <div class="container">
    <div class="contact-info">
      <h2>Información de contacto</h2>
      <p><strong>Email:</strong> contacto@eco.news</p>
      <p><strong>Teléfono:</strong> +57 300 123 4567</p>
      <p><strong>Dirección:</strong> Calle Verde #45, Palmira, Valle del Cauca, Colombia</p>
    </div>
    <nav class="espa">
        <p></p>
    </nav>
  <footer>
    <p>© 2025 eco.news | Noticias para un futuro sostenible</p>
  </footer>
</body>
</html>
