.mens{
  background:#d7edf5;
  padding:10px;
  height: 50px;
  display: flex;
  align-items: center;}
.mens p {
    padding:1px 20px;
    color:black;
    margin:auto;
}
.menu {
    display: flex;
    justify-content: space-between;  
    align-items: center;             
    padding: 10px 50px;              
    background-color:#f0fdff;
}
.menu p{font-size:18px;}
nav p a{text-decoration: none; color: #8e8484;margin:14px;}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .logo img {
    height: 160px; 
    margin:1px;
  }
  .logo-text {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
  }
  .logo-title {
    font-size: 40px;
    font-weight: 600;
  }
  .logo-title .verde {
    color: #3bb78f;
  }
  .logo-title .azul {
    color: #2c82c9;
  }
  .logo-subtitle {
    font-size: 20px;
    color: #666;
    margin-top: 4px;
  }
.menu p a{
    text-decoration:none;
    color:black;
}
 body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #fefffe;
      color: #333;
    }
    h1 {
      margin: 0;
    }
    .container {
      max-width: 900px;
      margin: 30px auto;
      padding: 20px;
      background: white;
      border-radius: 15px;
      box-shadow: 0 2px 30px rgba(47, 51, 82, 0.1);
    }
    .contact-info {
      margin-bottom: 30px;
    }
    .contact-info h2 {
      color: #b5d6f7;
    }
    .contact-info p {
      margin: 5px 0;
    }
.espa{
    margin: auto;
    height:10px;
    width:10px;
}