<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoja de Vida | Contacto </title>
    <link rel="stylesheet" href="../static/contacto.css">
</head>
<header>
        <nav class="menu">
            <ol>
                <ol><a href="/">Acerca de mí</a></ol>
                <ol><a href="/ob">Objetivos</a></ol>
                <ol><a href="/info_f">Formación y Cursos</a>
            </ol>
        </nav>
    </header>
<body >
    <section id="contacto" style="font-family: Arial, sans-serif; margin: 20px 0;">
    <h2 style="border-bottom: 2px solid #333; padding-bottom: 5px;">Contacto</h2>

    <ul style="list-style: none; padding: 0; line-height: 1.8;">
        <li><strong>Teléfono:</strong> +34 600 123 456</li>
        <li><strong>Email:</strong> torresmurillolaurasofia01@gmail.com</li>
        <li><strong>Evidencias de mi trabajo en formación-GitHub:</strong> 
            <a href="https://github.com/laurasofiat" target="_blank">
                github.com/laurasofiat
            </a>
        </li>
        <li><strong>Ubicación:</strong> Palmira, Valle del Cauca, Colombia</li>
    </ul>
</section>

</body>
</html>
