<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoja de Vida | Información Personal </title>
    <link rel="stylesheet" href="../static/info_p.css">
</head>
<body>
    <header>
        <nav class="menu">
            <ol>
                <ol><a href="/info_f">Formación y Estudios</a></ol>
                <ol><a href="/ob">Objetivos</a></ol>
                <ol><a href="/conta">Contacto</a>
            </ol>
        </nav>
    </header>
    <h1>Información Personal</h1>
    <div class="card">
        <p><strong>Nombre:</strong> Laura Sofía </p>
        <p><strong>Apellido:</strong>Torres Murillo</p>
        <p><strong>Fecha de Nacimiento:</strong> 06|01|2010</p>
        <p><strong>Lugar de Nacimiento:</strong>Cali, Valle del Cauca, Colombia</p>
        <p><strong>Profesión:</strong> Estudiante de Técnico en Programación de Software</p>
        <p><strong>Descripción Personal:</strong> Soy una persona dedicada a la tecnología y el desarrollo de software. Me encanta aprender nuevas habilidades  ya sea enfocada en el área de la tecnología o algo contrario, me gusta enfrentar desafíos que me permitan crecer tanto personal como profesionalmente. Disfruto trabajar en equipo y contribuir con ideas innovadoras para lograr objetivos comunes.</p>
    </div>
</body>
</html>
