<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/info_f.css">
    <title>Hoja de Vida | Formación y Estudios</title>
</head>
<body>
    <header>
        <nav class="menu">
            <ol>
                <ol><a href="/">Acerca de mí</a></ol>
                <ol><a href="/ob">Objetivos</a></ol>
                <ol><a href="/conta">Contactos</a>
            </ol>
        </nav>
    </header>
    <h1>Formación y Estudios</h1>
    <div class="card">
    <section>
        <h2>Educación</h2>
        <ul>
            <li>
                <strong>Técnico en Programación de Software</strong>  
                - Centro de Biotecnología Industrial - Sena(2025 - 2026)
            </li>
            <li>
                <strong>Bachillerato </strong>  
                - Institución Educativa Maria Antonia Penagos(2020 - 2026)
            </li>
        </ul>
    </section>

    <section>
        <h2>Cursos y Certificaciones</h2>
        <ul>
            <li>Curso Variables y Estructuras de Control  en Python - Centro de Biotecnología Industrial (2024)</li>
            <li>Curso Inglés Básico 1 - Centro de Biotecnología Industrial (2024)</li>
            <li>Curso Aplicación de la Metodlogía Scrum para Proyectos de Desarrollo de Software - Centro de Biotecnología Industrial (2024)</li>
            <li>Certificación Programador(Orientado a objetos) - Capacitate para el Empleo (2025)</li>
            <li>Curso Python -  Santander | Open Academy (2025)</li>
        </ul>
    </section>

    <section>
        <h2>Idioma</h2>
        <ul>
            <li>Español — Nativo</li>
        </ul>
    </section>
    </div>
</body>
</html>
