<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/info_f.css">
    <title>Hoja de Vida | Formación y Estudios</title>
</head>
<body>
    <header>
        <nav class="menu">
            <ol>
                <ol><a href="/">Acerca de mí</a></ol>
                <ol><a href="/info_f">Formación y Estudios</a></ol>
                <ol><a href="/conta">Contactos</a></ol>
            </ol>
        </nav>
    </header>
    <h1>Objetivos</h1>
    <div class="card">
    <section>
        <ul>
            <li>
                <strong>Programadora de Software pronta a graduarse, motivada y proactiva. Busco un puesto como Desarrolladora Junior en Innovate Tech Solutions para aplicar mis conocimientos en Python y bases de datos SQL. Mi objetivo es contribuir en el desarrollo de soluciones de software innovadoras, integrarme rápidamente al equipo de desarrollo y crecer profesionalmente junto a la empresa.</strong>  
            </li>
        </ul>
    </section>
    </div>
</body>
</html>