h1{
text-align: center;
font-family:cursive;
padding: 15px;
border-radius: 10px;
color: white;
}
h3{
text-align: center;
font-family:cursive;
padding: 15px;
border-radius: 10px;
color:rgb(223, 206, 185);
}
p{
text-align: center;
color:cornsilk;
font-family: cursive;
}
h2{
color: blanchedalmond;
text-align: left;
}
p{position:center;}
body {
box-sizing: border-box;
font-family: "Lucida Sans";
font-size: 21px;
background-image: url("../static/imagenes/cc1.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
table-layout: center
}